* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: hwb(217 28% 58%);
  font-size: 0.8125rem;
  background-color: hsl(210, 46%, 95%);
  padding: 15.625rem 0;
}

article {
  display: flex;
  justify-content: center;
  max-width: 46rem;
  background: white;
  margin: auto;
}

article > img {
  width: 40%;
}

.article-details {
  padding: 2rem 2.1875rem;
}
.article-details-title {
  font-size: 1.6em;
  line-height: 1.35;
}

.author img {
  width: 2.375rem;
  border-radius: 50%;
  vertical-align: middle;
}

.content-preview {
  padding: 13px 0 13px;
  line-height: 1.55;
  color: hsl(214, 17%, 51%);
}

.author {
  display: flex;
}

.author-name {
  font-weight: 700;
}

.article-date {
  color: hsl(212, 23%, 69%);
}