* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: hwb(217 28% 58%);
  font-size: 0.8125rem;
  background-color: hsl(210, 46%, 95%);
  padding: 16.25rem 0 12.5rem;
}

article {
  display: flex;
  justify-content: center;
  max-width: 46rem;
  background: white;
  margin: auto;
  border-radius: 0.5rem;
}

.article-img {
  background-image: url("../images/drawers.jpg");
  width: 105%;
  background-size: cover;
  border-radius: 0.5rem 0 0 0.5rem;
}

.article-details {
  padding: 2rem 2.1875rem;
}
.article-details-title {
  font-size: 1.3125rem;
  line-height: 1.35;
}

.author > img {
  width: 2.375rem;
  border-radius: 50%;
  vertical-align: middle;
}

.content-preview {
  padding: 12px 0;
  line-height: 1.55;
  color: hsl(214, 17%, 51%);
}

.author {
  display: flex;
  padding-top: 8px;
  position: relative;
}
.author-details {
  display: flex;
  flex-direction: column;
  padding-left: 1.125rem;
}

.author-name {
  font-weight: 700;
  padding-bottom: 2px;
}

.article-date {
  color: hsl(212, 23%, 69%);
}

.shareBtn {
  border: none;
  position: absolute;
  top: 0.75rem;
  right: 0;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  width: 1.875rem;
  height: 1.875rem;
}

.shareBtn:hover,
.shareBtn:focus {
  background-color: hsl(214, 17%, 51%);
}

.shareBtn:hover > img,
.shareBtn:focus > img {
  filter: brightness(0) invert(1);
}

.tooltip-content {
  background-color: hwb(217 28% 58%);
  color: hsl(212, 23%, 69%);
  text-align: center;
  border-radius: 0.625rem;
  padding: 16px 35px;
  margin-bottom: 18px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 0.9375rem;
  transform: translate(50%, 0);
}

.tooltip-content::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: hwb(217 28% 58%) transparent transparent transparent;
}

.social-media-links img {
  vertical-align: middle;
  padding-bottom: 3px;
}

.shareBtn-text {
  letter-spacing: 5px;
}

.icon-facebook {
  padding-left: 15px;
}

.icon-twitter {
  padding: 0 15px;
}

.mobile-share-links {
  display: none;
  background-color: hwb(217 28% 58%);
  color: hsl(212, 23%, 69%);
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 18px 35px;
  position: relative;
}

#btn2 {
  margin-right: 35px;
}

@media screen and (max-width: 820px) {
  body {
    padding: 0 1.5rem;
  }
  article {
    flex-direction: column;
    margin-top: 4.375rem;
  }
  .article-img {
    width: 100%;
    height: 30vh;
    border-radius: 0.5rem 0.5rem 0 0;
    background-position-y: -0.9375rem;
  }
  .article-details {
    padding-bottom: 1.25rem;
  }
  .article-details-title {
    font-size: 16px;
    line-height: 1.5;
  }
  .content-preview {
    padding: 1rem 0 1.5rem;
  }
}
@media screen and (max-width: 344px) {
  .article-img {
    background-position-y: 0;
    height: 22vh;
  }
}