@import './config';

body {
    @include fontStyle(.8125rem, 500);

    background-color: $light-grayish-blue;
    padding: 15.625rem 0;
}

article {
    display: flex;
    justify-content: center;
    max-width: 46rem;
    background: white;
    margin: auto;
}

article > img {
    width: 40%;
}

.article-details {
    padding: 2rem 2.1875rem;

    &-title {
        font-size: 1.6em;
        line-height: 1.35;
    }
}

.author img {
    width: 2.375rem;
    border-radius: 50%;
    vertical-align: middle;
}

.content-preview {
    padding: 13px 0 13px;
    line-height: 1.55;
    color: $desaturated-dark-blue;
}

.author {
    display: flex;
}

.author-name {
    font-weight: 700;
}

.article-date {
    color: $grayish-blue;
}
