@import './config';

body {
    @include fontStyle(.8125rem, 500);

    background-color: $light-grayish-blue;
    padding: 16.25rem 0 12.5rem;
}

article {
    display: flex;
    justify-content: center;
    max-width: 46rem;
    background: white;
    margin: auto;
    border-radius: .5rem;
}

.article-img {
    background-image: url("../images/drawers.jpg");
    width: 105%;
    background-size: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}

.article-details {
    padding: 2rem 2.1875rem;

    &-title {
        font-size: 1.3125rem;
        line-height: 1.35;
    }
}

.author > img {
    width: 2.375rem;
    border-radius: 50%;
    vertical-align: middle;
}

.content-preview {
    padding: 12px 0;
    line-height: 1.55;
    color: $desaturated-dark-blue;
}

.author {
    display: flex;
    padding-top: 8px;
    position: relative;

    &-details {
        display: flex;
        flex-direction: column;
        padding-left: 1.125rem;
    }
}

.author-name {
    font-weight: 700;
    padding-bottom: 2px;
}

.article-date {
    color: $grayish-blue;
}

#shareBtn {
    border: none;
    position: absolute;
    top: .75rem;
    right: 0;
    border-radius: 50%;
    background-color: $light-grayish-blue;
    width: 1.875rem;
    height: 1.875rem;
}

#shareBtn:hover,
#shareBtn:focus {
    background-color: $desaturated-dark-blue;
}

#shareBtn:hover > img, 
#shareBtn:focus > img {
    filter: brightness(0) invert(1);
}

.tooltip-content {
    background-color: $very-dark-grayish-blue;
    color: $grayish-blue;
    text-align: center;
    border-radius: .625rem;
    padding: 16px 35px;
    margin-bottom: 18px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: .9375rem;
    transform: translate(50%, 0);
}

.tooltip-content::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: $very-dark-grayish-blue transparent transparent transparent;
}

.social-media-links img {
    vertical-align: middle;
    padding-top: 3px;
}

.shareBtn-text {
    letter-spacing: 5px;
}

.icon-facebook {
    padding-left: 15px;
}

.icon-twitter {
    padding: 0 15px;
}


@import './mobile';